@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
}

.header{
  display: flex;
  justify-content: space-between;
}

.footer{
  display: flex;
  justify-content: space-between;
}
.left-links{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 20px;
}

.right-links{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-right: 20px;
}


.content{
  /* this is how you can push the links at the bottom down */
  /* with text-align:center you center the content in this div */
  /* but you need to expand this div to push the bottom links down  */
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:16px;
  flex:1;
}


a{
  text-decoration: none;
}